/DAM_1/PROGRAMMING/2.Ebal/AZTERKETA UD3/2022-02-24Karmele/dist/
/DAM_1/PROGRAMMING/3.Ebal/UD4/HiztegiaSQLite/nbproject/private/
/DAM_1/PROGRAMMING/3.Ebal/UD4/HiztegiaSQLite/dist/
/DAM_1/PROGRAMMING/3.Ebal/UD4/HiztegiaSQLite/build/
/DAM_1/PROGRAMMING/3.Ebal/UD4/HiztegiaSQLiteMVC/nbproject/private/
/DAM_1/PROGRAMMING/3.Ebal/UD4/HiztegiaSQLiteMVC/build/
/DAM_1/PROGRAMMING/3.Ebal/UD4/HiztegiaSQLiteMVC/dist/
/DAM_1/PROGRAMMING/3.Ebal/UD4/HiztegiaSQLitePOJO/nbproject/private/
/DAM_1/PROGRAMMING/3.Ebal/UD4/HiztegiaSQLitePOJO/build/
/DAM_1/PROGRAMMING/3.Ebal/UD4/HiztegiaSQLitePOJOItzultzailea/nbproject/private/
/DAM_1/PROGRAMMING/3.Ebal/UD4/StreamekinLanean/nbproject/private/
/DAM_1/PROGRAMMING/3.Ebal/UD4/StreamekinLanean/build/
