#p_float{
    float:left;
    margin-right: 5px;
}

#img_float{
    float:left;
    padding: 10px;
}

#clear{
    clear: both;
}

#Div_ertz_borobil{
    border-radius: 30%;
    box-shadow: 5px 10px rgba(158, 154, 154, 0.7);
    height: 30px;
    width: 21%;
    background-color: rgba(194, 186, 186, 0.7);
    padding-left: 40px;
    padding-top: 5px;
}

h1.Itzal_gorri{
    text-shadow: 4px 5px 5px rgb(255, 0, 0);
}

#Div_rotate{
    background-color: rgba(223, 226, 15, 0.87);
    /*rotate: 20deg;*/
}